
@import "addidions/screen-mixins";
@import "addidions/functions";
.text-cards {
  display: grid;
  grid-template-columns: repeat(3,minmax(150px,346px));
  padding :66px clamp(15px,getPercentW(172),172px)  81px clamp(15px,getPercentW(172),172px);
  gap: 100px;
  row-gap: 30px;

  @include media-portrait767max{
    padding-top: 30px;
    padding-bottom:  41px ;
    grid-template-columns: repeat(1,minmax(150px,346px));

  }
  @include media-phones480max{
    padding-top: 15px;
    padding-bottom:  15px ;
  }
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 23px;
  &__head {

  }

  &__body {
    margin-top: clamp(10px,getPercentW(31),31px);
    flex-grow: 1;
  }

  &__link {
  }
}