
@import "addidions/screen-mixins";
@import "addidions/functions";
.text-cards {
  display: grid;
  grid-template-columns: repeat(3,minmax(150px,346px));
  padding-inline: clamp(15px,getPercentW(172),172px);
  gap: 100px;
  row-gap: 30px;
  padding-block:66px 81px ;
  @include media-portrait767max{
    padding-block:30px 41px ;
    grid-template-columns: repeat(1,minmax(150px,346px));

  }
  @include media-phones480max{
    padding-block:15px 15px ;
  }
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 23px;
  &__head {

  }

  &__body {
    margin-top: clamp(10px,getPercentW(31),31px);
    flex-grow: 1;
  }

  &__link {
  }
}