<section class="book-flight">
    <h1 class="book-flight__head">
        Find the cheapest airline tickets across all airlines
    </h1>

    <div class="book-flight__calculate">
        <h2 class="book-flight__head-calc">
          Book Cheap Flight
        </h2>
        <form class="calculate-book-flight">
            <div class="calculate-book-flight__direction">
                <div class="custom-radio">
                    <input id="direction-return" type="radio"  name="direction"/>
                    <label aria-label="Return" for="direction-return">Return</label>
                </div>
                <div class="custom-radio">
                    <input id="direction-one-way" type="radio" name="direction"/>
                    <label aria-label="One - Way" for="direction-one-way">One - Way</label>

                </div>
                <div class="custom-radio">
                    <input id = 'direction-multi-way' type="radio" name="direction"/>
                    <label aria-label="Multi - Way" for="direction-multi-way">Multi - Way</label>
                </div>



            </div>
            <div class="flex-orientation calculate-book-flight__flex">
                <div class="calculate-book-flight__ticket-info ">
                    <label aria-label="From" class="calculate-book-flight__field round-gray-field">
                        <sup>  From </sup>
                        <input type="text"  name="city" placeholder="Melbourne">
                    </label>
                    <label class="calculate-book-flight__field round-gray-field">
                        <label aria-label="Depart">
                            <sup> Depart</sup>
                            <input type="date"  name="date-depart">
                        </label>
                        <label aria-label="Return">
                            <sup> Return </sup>
                            <input type="date"  name="date-return">
                        </label>
                    </label>
                </div>
                <div class="calculate-book-flight__container-arrive">
                    <img src="@@webRoot/static/img/icons/arrives.svg" alt="">
                </div>
                <div class="calculate-book-flight__ticket-info">
                    <label aria-label="city" class="calculate-book-flight__field round-gray-field">
                        <sup>To</sup>
                        <input type="text"  name="city" placeholder="Perth">
                    </label>
                    <label class="calculate-book-flight__field round-gray-field">
                        <label aria-label="Passengers" >
                            <sup>Passengers</sup>
                            <select  name="passengers">
                                <option value="1">1 adult</option>
                                <option value="2">2 adult</option>
                                <option value="3">3 adult</option>
                                <option value="4">4 adult</option>
                                <option value="5">5 adult</option>
                            </select>
                        </label>

                        <label aria-label="Class">
                            <sup>Class</sup>
                           <select name="class">
                               <option value="economy">Economy</option>
                               <option value="standard">Standard</option>
                               <option value="business">Business</option>
                           </select>
                        </label>
                    </label>
                </div>
                <div class="calculate-book-flight__footer">
                    <button  aria-label="Search" class="btn btn_submit calculate-book-flight__btn">
                        Search
                    </button>
                </div>
            </div>

        </form>
    </div>


</section>