<section class="booking container">

    <article class="order-info lato lato_800 text-size_17">
        <h3 class="order-info__cities lato lato_800 text-size_20">
            Melbourne - Perth
        </h3>
        <div class="order-info__day">
            <img src="@@webRoot/static/img/icons/calendar.svg" width="15" height="21" alt=""/>
            <time>26 Dec</time>
        </div>
        <p class="order-info__count">1 Adault</p>
    </article>

    <div class="booking__orders gray-border">
        <div class="order-card order-card_active ">
            <img src="@@webRoot/static/img/icons/certificate-bkue%201.svg" alt=""/>
            <p class="lato lato_700 text-size_16"> Recommended</p>
            <p class="lato lato_700 text-size_20">AU$356.04</p>
        </div>
        <div class="order-card">
            <img src="@@webRoot/static/img/icons/clock%201.svg" alt=""/>
            <p class="lato lato_700 text-size_16"> Shortest</p>
            <p class="lato lato_700 text-size_20">AU$356.04</p>
        </div>
        <div class="order-card">
            <img src="@@webRoot/static/img/icons/dollar%201.svg" alt=""/>
            <p class="lato lato_700 text-size_16"> Cheapest</p>
            <p class="lato lato_700 text-size_20">AU$356.04</p>
        </div>
        <div class="order-card">
            <img src="@@webRoot/static/img/icons/star%201.svg" alt=""/>
            <p class="lato lato_700 text-size_16"> Campaign</p>
            <p class="lato lato_700 text-size_20">AU$356.04</p>
        </div>

    </div>

    <div class="booking__tickets">
        <article class="ticket ">
            <p class="ticket__time-before-shipping lato lato_700 text-size_18">5hrs  30Mint</p>
            <p class="ticket__departure lato text-size_18 lato_400"><strong class="lato_700"> DEPARTURE</strong> Fri 26 Dec</p>
            <div class=" ticket__main">
                <div class="ticket__price">
                    <p class="lato text-size_30 lato_800">AU $ 356.45</p>
                    <p class="lato lato_700 text-size_22">Price per adult</p>
                </div>
                <div class="ticket__time-and-city">
                    <time class="lato lato_700 text-size_26">8:00 AM</time>
                    <p class="lato lato_700 text-size_30">Melbourn</p>
                </div>
                <div class="ticket__direction-img">
                    <div class="img-circle-container">
                        <img src="@@webRoot/static/img/icons/airplane.svg" alt="plane"/>
                    </div>
                </div>
                <div class="ticket__time-and-city">
                    <time class="lato lato_700 text-size_26">8:00 AM</time>
                    <p class="lato lato_700 text-size_30">Melbourn</p>
                </div>
                <div class="ticket__footer">
                    <button  class="btn lato lato_700 text-size_22  ticket__btn">
                        Book
                    </button>
                </div>
            </div>
        </article>
        <article class="ticket ">
            <p class="ticket__time-before-shipping lato lato_700 text-size_18">5hrs  30Mint</p>
            <p class="ticket__departure lato text-size_18 lato_400"><strong class="lato_700"> DEPARTURE</strong> Fri 26 Dec</p>
            <div class=" ticket__main">
                <div class="ticket__price">
                    <p class="lato text-size_30 lato_800">AU $ 356.45</p>
                    <p class="lato lato_700 text-size_22">Price per adult</p>
                </div>
                <div class="ticket__time-and-city">
                    <time class="lato lato_700 text-size_26">8:00 AM</time>
                    <p class="lato lato_700 text-size_30">Melbourn</p>
                </div>
                <div class="ticket__direction-img">
                    <div class="img-circle-container">
                        <img src="@@webRoot/static/img/icons/airplane.svg" alt="plane"/>
                    </div>
                </div>
                <div class="ticket__time-and-city">
                    <time class="lato lato_700 text-size_26">8:00 AM</time>
                    <p class="lato lato_700 text-size_30">Melbourn</p>
                </div>
                <div class="ticket__footer">
                    <button  class="btn lato lato_700 text-size_22  ticket__btn">
                        Book
                    </button>
                </div>
            </div>
        </article>
    </div>
</section>