<footer class="footer container">
    <nav class="footer__top">
        <ul>
            <li class="footer__link"><a href="">Products and services</a></li>
            <li class="footer__link"><a href="">Concellation Protection</a></li>
        </ul>
        <ul>
            <li class="footer__link"><a href="">About Us</a></li>
            <li class="footer__link"><a href="">About Us  <br> Terms and Conditions</a></li>
        </ul>
        <ul>
            <li class="footer__link"><a href="">Support</a></li>
            <li class="footer__link"><a href="">Contact us</a></li>
            <li class="footer__link"><a href="">FAQ</a></li>
        </ul>
        <ul>
            <li class="footer__link"><a href="">Login</a></li>
            <li class="footer__link"><a href="">
                    <button class="footer__to-login btn btn_not-back"><img src="@@webRoot/static/img/icons/login.svg" alt=""/><p>My Booking</p></button>
                </a>
            </li>
        </ul>
    </nav>
        <div class="footer__down">
            <img width="400" height="50" src="@@webRoot/static/img/Capture%201.jpg" alt="visa american express">
            <img width="742" height="66" src="@@webRoot/static/img/Capture3 1.jpg" alt="amadeus sabre">
        </div>
</footer>
