<header class="header container">
<div class="header__logo-and-name">
    <a href="@@webRoot" aria-label="Flight Network">
        <img   width="101" height="83" src="@@webRoot/static/img/kisspng-qantas-wikipedia-lo.png" alt=""/>
    </a>
    <a href="@@webRoot" aria-label="Flight Network"> <strong>Flight Network</strong></a>
</div>
    <nav class="header__nav">
        <ul>
            <li><a class="header__link" href="@@webRoot/booking-page.html" aria-label="booking">booking</a> </li>
            <li><a class="header__link" href="@@webRoot/choose-payment-method-page.html" aria-label="choose payment method">choose payment method </a></li>
            <li><a class="header__link" href="@@webRoot/flight-section-page.html" aria-label="flight section">flight section </a> </li>
            <li><a class="header__link" href="@@webRoot/login.html" aria-label="login">login </a> </li>
            <li><a class="header__link" href="@@webRoot/login-shorts.html" aria-label="login short">login short </a> </li>
            <li><a class="header__link" href="@@webRoot//registration.html" aria-label="registration">registration </a> </li>
            <li><a class="header__link" href="@@webRoot/speener.html" aria-label="speener">speener </a> </li>
            <li><a class="header__link" href="@@webRoot/traveller-information-page.html" aria-label="traveller information ">traveller information </a> </li>
        </ul>
    </nav>
</header>