<header class="header container">
<div class="header__logo-and-name">
    <img   width="101" height="83" src="@@webRoot/static/img/kisspng-qantas-wikipedia-lo.png" alt=""/>
    <strong>Flight Network</strong>
</div>
    <nav class="header__nav">
        <ul>
            <li><a class="header__link" href="">Support</a> </li>
            <li><a class="header__link" href="">Contact Us </a></li>
            <li><a class="header__link" href="">Airline information</a> </li>
        </ul>
    </nav>
</header>