<header class="header container">
<div class="header__logo-and-name">
    <a href="/">
        <img   width="101" height="83" src="@@webRoot/static/img/kisspng-qantas-wikipedia-lo.png" alt=""/>
    </a>
    <a href="/"> <strong>Flight Network</strong></a>
</div>
    <nav class="header__nav">
        <ul>
            <li><a class="header__link" href="@@webRoot/booking-page.html">booking</a> </li>
            <li><a class="header__link" href="@@webRoot/choose-payment-method-page.html">choose payment method </a></li>
            <li><a class="header__link" href="@@webRoot/flight-section-page.html">flight section </a> </li>
            <li><a class="header__link" href="@@webRoot/login.html">login </a> </li>
            <li><a class="header__link" href="@@webRoot/login-shorts.html">login short </a> </li>
            <li><a class="header__link" href="@@webRoot//registration.html">registration </a> </li>
            <li><a class="header__link" href="@@webRoot/speener.html">speener </a> </li>
            <li><a class="header__link" href="@@webRoot/traveller-information-page.html">traveller information </a> </li>
        </ul>
    </nav>
</header>