<div class="container text-cards">

    <article class="text-card">
        <h3 class="text-card__head lato lato_700 text-size_18"><strong>Flexible Booking</strong></h3>
        <p class="text-card__body lato lato_400 text-size_20">
            Many airlines are relaxing their rules on
            ticket changes. They are saying it’s OK ifyou are not totally sure; book now, and know that you can change your mind  later.
        </p>
        <a class="text-card__link lato lato_400 text-size_17" href="#" aria-label="Flexible Booking Read More">Read More</a>
    </article>
    <article class="text-card">
        <h3 class="text-card__head lato lato_700 text-size_18"><strong>Flexible Booking</strong></h3>
        <p class="text-card__body lato lato_400 text-size_20">
            Many airlines are relaxing their rules on
            ticket changes. They are saying it’s OK ifyou are not totally sure; book now, and know that you can change your mind  later.
            ticket changes. They are saying it’s OK ifyou are not totally sure; book now, and know that you can change your mind  later.

        </p>
        <a class="text-card__link lato lato_400 text-size_17" href="#" aria-label="Flexible Booking Read More">Read More</a>
    </article>
    <article class="text-card">
        <h3 class="text-card__head lato lato_700 text-size_18"><strong>Flexible Booking</strong></h3>
        <p class="text-card__body lato lato_400 text-size_20">
            Many airlines are relaxing their rules on
         </p>
        <a class="text-card__link lato lato_400 text-size_17" href="#" aria-label="Flexible Booking Read More">Read More</a>
    </article>

</div>