<section class="container travel-info">
    @@include('../traveller-layout/h1.html',{text:'Choose payment method'})
    <form class="travel-info__main">

        <article class="payment-method payment-method_card lato gray-border">
            <div class="custom-radio payment-method__custom-radio">
                <input id="payment-method-card" type="radio" name="payment-method" value="card">
                <label for="payment-method-card"></label>
            </div>
            <div class="payment-method__main">
                <h2 class="payment-method__head lato_700 text-size_26">Debit card/ credit card</h2>
                <p class="payment-method__subtext">
                    Up to ‪-AU$ 25.36‬ discount
                </p>
            </div>
            <div class="payment-method__footer">
                <img width="226" height="57" src="@@webRoot/static/img/cards.jpg">
            </div>
        </article>
        <article class="payment-method payment-method_pypy lato gray-border">
            <div class="custom-radio payment-method__custom-radio">
                <input id="payment-method-pypy" type="radio" name="payment-method" value="pypy">
                <label for="payment-method-pypy"></label>
            </div>
            <div class="payment-method__main">
                <h2 class="payment-method__head lato_700 text-size_26">
                    PayPal
                </h2>
                <p class="payment-method__text lato_400 text-size_16">
                    You will be redirected to Paypal’s loginpage, where you can log in to your account and complete the booking.
                </p>
                <div class="payment-method__field-container lato_400 text-size_16">
                    <label class="payment-method__field ">
                        <span>First name <sub class="payment-method__star">*</sub></span>
                        <input  class="text-size_16" required type="text" name="first-name" placeholder="Test">
                    </label>
                    <label class="payment-method__field">
                        <span>surmame <sub class="payment-method__star">*</sub></span>
                        <input  class="text-size_16" required type="text" name="surmame" placeholder="Test pasenger">
                    </label>
                    <label class="payment-method__field">
                        <span>Street  <sub class="payment-method__star">*</sub></span>
                        <input  class="text-size_16" required type="text" name="street" placeholder="14 Argyle St">
                    </label>
                    <label class="payment-method__field">
                        <span>Postcode   <sub class="payment-method__star">*</sub></span>
                        <input  class="text-size_16" required type="number" name="postcode" placeholder="4216">
                    </label>
                    <label class="payment-method__field">
                        <span>City <sub class="payment-method__star">*</sub></span>
                        <input  class="text-size_16" required type="text" name="city" placeholder="Melbourn">
                    </label>
                    <label class="payment-method__field">
                        <span>Country <sub class="payment-method__star">*</sub></span>
                        <input  class="text-size_16" required type="text" name="country" placeholder="Australia">
                    </label>
                </div>
            </div>
            <div class="payment-method__footer">
                <img width="137" height="58" src="@@webRoot/static/img/paypal 1.jpg">
            </div>
        </article>
        <div itemscope class="gray-border  total-amount  form-info lato ">
            <h2 class="total-amount__head lato_700 text-size_30">Total amount</h2>

            <p class="total-amount__subtext text-size_20">Subtotal <span class="text-size_18">AU$ 1,043.86</span></p>
            <p class="total-amount__subtext lato_700 text-size_20">Amount to pay <span class="text-size_22">AU$ 1,043.86</span></p>
            <label class="total-amount__permit lato_300 text-size_18">
                <input name="permit" type="checkbox">
                <span>
                    I have read and accept Flight Networks <u>travel conditions , Fare Rules, the airline's general terms and conditions,</u>  and I have verified that I have entered my booking information correctly.
                    <br>
                    You can read our <u> Privacy policy</u> here. Additional airline general terms and conditions is available here: <u> Virgin Australia, Qantas Airways.</u>

                </span>
            </label>
            <div class="total-amount__footer">
                <button aria-label="submit" class="btn btn_submit travel-info__submit">
                    Pay
                </button>
            </div>


        </div>
    </form>

    <aside itemscope class="gray-border y-order">
        <h2 class="y-order__head lato lato_700 text-size_35">Your Order</h2>
        <div class="y-order__main">
            <div class="y-order__info">
                <p class="lato lato_800 text-size_28">Departure</p>
                <time class="lato lato_700 text-size_22">Fri 26 Dec 2022</time>
                <div class="y-order__count lato lato_700 text-size_26">
                    <img src="@@webRoot/static/img/icons/take-off.svg">
                    1
                </div>
            </div>
            <div class="y-order__info">
                <p class="lato lato_800 text-size_28">10:00 AM - 4:00PM</p>
                <time class="lato lato_700 text-size_22">Fri 26 Dec 2022</time>
            </div>


        </div>
        <div class="y-order__info y-order__main">
            <p class="lato lato_800 text-size_28">Bags</p>
            <div class="y-order__pay-service">
                <img width="50" height="50" src="@@webRoot/static/img/icons/shopping-bag.svg">
                <p class="lato lato_800 text-size_28">Hand baggage </p>
                <p class="lato lato_700 text-size_22">1X7 Kg</p>
            </div>
            <div class="y-order__pay-service">
                <img width="50" height="50" src="@@webRoot/static/img/icons/shopping-bag.svg">
                <p class="lato lato_800 text-size_28">Hand baggage </p>
                <p class="lato lato_700 text-size_22">1X7 Kg</p>
            </div>
        </div>
        <div class="y-order__footer lato_800 lato text-size_28">
            <p  >Test Testtrfe, adult</p>
            <p class="y-order__left-text">AU$300.45</p>
        </div>
    </aside>

</section>