<section class="container travel-info">



    <div class="travel-info__main">

        <div class="travel-info__submit-for-forms lato">
            <p class="lato_400 text-size_28 travel-info__text-center">
                By booking you confirm that the names on the booking match those on the passports
                of those travelling.
            </p>

            <button aria-label="submit" class="btn btn_submit travel-info__submit">
                Continue
            </button>

        </div>
    </div>

    <aside itemscope class="gray-border y-order">
        <h2 class="y-order__head lato lato_700 text-size_35">Your Order</h2>
        <div class="y-order__main">
            <div class="y-order__info">
                <p class="lato lato_800 text-size_28">Departure</p>
                <time class="lato lato_700 text-size_22">Fri 26 Dec 2022</time>
                <div class="y-order__count lato lato_700 text-size_26">
                    <img src="@@webRoot/static/img/icons/take-off.svg">
                    1
                </div>
            </div>
            <div class="y-order__info">
                <p class="lato lato_800 text-size_28">10:00 AM - 4:00PM</p>
                <time class="lato lato_700 text-size_22">Fri 26 Dec 2022</time>
            </div>
        </div>
        <div class="y-order__footer lato_800 lato text-size_28">
            <p  >Test Testtrfe, adult</p>
            <p class="y-order__left-text">AU$300.45</p>
        </div>
    </aside>

    <p class="lato lato_700 text-size_24 travel-info__option-text">
        ​In respect to ​flights, hotels, and car hire services offered on our website, we are acting solely in our capacity as intermediary.
        Our prices and availability are entered directly by the current providers. In respect of price changes that are out of our control
        and which occur after a booking query has been made but before the contract with the provider has become valid, the contract
        will not come into force and your payment will be refunded in full.
    </p>
</section>