<section class="container travel-info">

   <h1 class="lato lato_400 text-size_30 link-to-back">
       <a href="@@webRoot/flight-section-page.html" aria-label="Edit Traveler details">Edit Traveler details</a>
   </h1>
    <div class="travel-info__main">
        <article class="travel-info__contact extra-service gray-border lato">
            <h2 class="extra-service__head lato_700 text-size_30">
                Extra services
            </h2>
            <article class="extra-service__extra-element lato">
                <div class="extra-service__img-container">
                    <img width="229" height="132" src="@@webRoot/static/img/services%201.jpg" class="lato_700 text-size_30" alt="service"/>
                </div>
                <h3 class="lato_400 text-size_30">
                    Choose your level of support
                </h3>
                <p class="lato_400 text-size_18">
                    Every passenger has different support needs - choose the package that suits you best
                </p>
            </article>

            <div class="extra-service__levels">
                <article itemscope class="level-service level-service_standard lato">
                    <p class="level-service__top-die lato_700 text-size_18">Most Popular!</p>
                    <div class="level-service__header">
                        <h3 class="level-service__head lato_800 text-size_30">
                            Standard
                        </h3>
                        <p class="lato_700 text-size_18 level-service__price ">
                            Au$56.93
                        </p>
                    </div>
                    <div class="level-service__main">
                        <p class="level-service__description">
                            A good level of support at a fair cost.
                        </p>
                        <ul class="level-service__list-service lato_400 text-size_14 ">
                            <li class="level-service__item-service">Service fee applies</li>
                            <li class="level-service__item-service">Quick response time</li>
                            <li class="level-service__item-service">Flight updates by SMS</li>
                            <li class="level-service__item-service">Check-in</li>
                        </ul>
                    </div>
                    <div class="level-service__footer">
                        <button class="btn level-service__btn lato_700 text-size_20" aria-label="Select">Select</button>
                    </div>
                </article>
                <article itemscope class="level-service level-service_platinum lato">
                    <p class="level-service__top-die lato_700 text-size_18">Most Popular!</p>
                    <div class="level-service__header">
                        <h3 class="level-service__head lato_800 text-size_30">
                            Standard
                        </h3>
                        <p class="lato_700 text-size_18 level-service__price ">
                            Au$56.93
                        </p>
                    </div>
                    <div class="level-service__main">
                        <p class="level-service__description">
                            A good level of support at a fair cost.
                        </p>
                        <ul class="level-service__list-service lato_400 text-size_14 ">
                            <li class="level-service__item-service">Service fee applies</li>
                            <li class="level-service__item-service">Quick response time</li>
                            <li class="level-service__item-service">Flight updates by SMS</li>
                            <li class="level-service__item-service">Check-in</li>
                        </ul>
                    </div>
                    <div class="level-service__footer">
                        <button class="btn level-service__btn lato_700 text-size_20" aria-label="Select">Select</button>
                    </div>
                </article>
            </div>


        </article>

        <article class="blog-extra-info  lato">
                <div class="blog-extra-info__img-container ">
                    <img width="700" height="480" src="@@webRoot/static/img/icons/Screenshot%202022-12-16%20160342%201.jpg" class="lato_700 text-size_30" alt="service"/>
                </div>
                <div class="blog-extra-info__main">
                    <h2 class="lato_400 text-size_30">
                        Choose the best coverage if things go wrong on your trip
                    </h2>
                    <p class="lato_400 text-size_18">
                        Select your insurance from our generous cover <br> options.
                    </p>
                </div>

        </article>

        <div class="travel-info__list-extra-service">
            <section class="paid-service-card lato">
                <img width="512" height="512" src="@@webRoot/static/img/icons/airplane.svg" alt=""/>
                <div class="paid-service-card__main">
                    <h3 class="paid-service-card__head lato_700 text-size_30">
                        Emergency Medical & Expenses Cover
                    </h3>
                    <p class="paid-service-card__text lato_400 text-size_26">
                        Provides cover for medical emergencies should you become ill or injured on your trip. This product is only available to people 72 years old and younger.
                    </p>
                </div>
                <form class="paid-service-card__footer">
                    <p class="paid-service-card__subtext lato_400 text-size_18">
                        Total per person
                    </p>
                    <p class="lato_700 text-size_26  paid-service-card__price ">AU$ 70.86 </p>
                    <div class="paid-service-card__choice lato_400 text-size_26">
                        <div class="custom-radio paid-service-card__custom-radio">
                            <input id="paid-service-1-choice-no" type="radio" name="choice-no">
                            <label for="paid-service-1-choice-no">No</label>
                        </div>
                        <div class="custom-radio paid-service-card__custom-radio">
                            <input id="paid-service-1-choice-yes" type="radio" name="choice-no">
                            <label for="paid-service-1-choice-yes">Yes</label>
                        </div>
                    </div>
                </form>
            </section>
            <section class="paid-service-card lato">
                <img width="512" height="512" src="@@webRoot/static/img/icons/airplane.svg" alt=""/>
                <div class="paid-service-card__main">
                    <h3 class="paid-service-card__head lato_700 text-size_30">
                        Airline Collapse Cover
                    </h3>
                    <p class="paid-service-card__text lato_400 text-size_26">
                        Ensure you and other travellers are protected if, due to COVID-19 or any other reason, your airline declares bankruptcy and cancels your flight.
                    </p>
                    <p class="paid-service-card__text lato_400 text-size_26">
                        We’ll refund your prepaid airfares if  you haven’t yet departed, or cover  your return airfares home if your trip  has already begun.
                    </p>
                </div>
                <form class="paid-service-card__footer">
                    <p class="paid-service-card__subtext lato_400 text-size_18">
                        Total per person
                    </p>
                    <p class="lato_700 text-size_26  paid-service-card__price ">AU$ 18.86</p>
                    <div class="paid-service-card__choice lato_400 text-size_26">
                        <div class="custom-radio paid-service-card__custom-radio">
                            <input id="paid-service-2-choice-no" type="radio" name="choice-no">
                            <label for="paid-service-2-choice-no">No</label>
                        </div>
                        <div class="custom-radio paid-service-card__custom-radio">
                            <input id="paid-service-2-choice-yes" type="radio" name="choice-no">
                            <label for="paid-service-2-choice-yes">Yes</label>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div class="travel-info__submit-for-forms lato">
            <p class="lato_400 text-size_28 travel-info__text-center">
                By booking you confirm that the names on the booking match those on the passports
                of those travelling.
            </p>

            <button aria-label="submit" class="btn btn_submit travel-info__submit">
                Continue
            </button>

        </div>
    </div>

    <aside itemscope class="gray-border y-order">
        <h2 class="y-order__head lato lato_700 text-size_35">Your Order</h2>
        <div class="y-order__main">
            <div class="y-order__info">
                <p class="lato lato_800 text-size_28">Departure</p>
                <time class="lato lato_700 text-size_22">Fri 26 Dec 2022</time>
                <div class="y-order__count lato lato_700 text-size_26">
                    <img src="@@webRoot/static/img/icons/take-off.svg">
                    1
                </div>
            </div>
            <div class="y-order__info">
                <p class="lato lato_800 text-size_28">10:00 AM - 4:00PM</p>
                <time class="lato lato_700 text-size_22">Fri 26 Dec 2022</time>
            </div>
        </div>
        <div class="y-order__footer lato_800 lato text-size_28">
            <p  >Test Testtrfe, adult</p>
            <p class="y-order__left-text">AU$300.45</p>
        </div>
    </aside>

    <p class="lato lato_700 text-size_24 travel-info__option-text">
        ​In respect to ​flights, hotels, and car hire services offered on our website, we are acting solely in our capacity as intermediary.
        Our prices and availability are entered directly by the current providers. In respect of price changes that are out of our control
        and which occur after a booking query has been made but before the contract with the provider has become valid, the contract
        will not come into force and your payment will be refunded in full.
    </p>
</section>