@font-face {
	font-family: 'Jaldi';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../fonts/Jaldi-Bold.eot"),
	url("../fonts/Jaldi-Bold.ttf") format("truetype"),
	url("../fonts/Jaldi-Bold.svg") format("svg"),
	url("../fonts/Jaldi-Bold.eot") format("embedded-opentype"),
	url("../fonts/Jaldi-Bold.woff2") format("woff2"),
	url("../fonts/Jaldi-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Jaldi';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../fonts/Jaldi-Regular.eot"),
	url("../fonts/Jaldi-Regular.ttf") format("truetype"),
	url("../fonts/Jaldi-Regular.svg") format("svg"),
	url("../fonts/Jaldi-Regular.eot") format("embedded-opentype"),
	url("../fonts/Jaldi-Regular.woff2") format("woff2"),
	url("../fonts/Jaldi-Regular.woff") format("woff");
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-Black.eot"),
	url("../fonts/Lato-Black.ttf") format("truetype"),
	url("../fonts/Lato-Black.svg") format("svg"),
	url("../fonts/Lato-Black.eot") format("embedded-opentype"),
	url("../fonts/Lato-Black.woff2") format("woff2"),
	url("../fonts/Lato-Black.woff") format("woff");
}
@font-face {
	font-family: 'Lato Blackitalic';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-BlackItalic.eot"),
	url("../fonts/Lato-BlackItalic.ttf") format("truetype"),
	url("../fonts/Lato-BlackItalic.svg") format("svg"),
	url("../fonts/Lato-BlackItalic.eot") format("embedded-opentype"),
	url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
	url("../fonts/Lato-BlackItalic.woff") format("woff");
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-Bold.eot"),
	url("../fonts/Lato-Bold.ttf") format("truetype"),
	url("../fonts/Lato-Bold.svg") format("svg"),
	url("../fonts/Lato-Bold.eot") format("embedded-opentype"),
	url("../fonts/Lato-Bold.woff2") format("woff2"),
	url("../fonts/Lato-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Lato Bolditalic';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-BoldItalic.eot"),
	url("../fonts/Lato-BoldItalic.ttf") format("truetype"),
	url("../fonts/Lato-BoldItalic.svg") format("svg"),
	url("../fonts/Lato-BoldItalic.eot") format("embedded-opentype"),
	url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
	url("../fonts/Lato-BoldItalic.woff") format("woff");
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-Italic.eot"),
	url("../fonts/Lato-Italic.ttf") format("truetype"),
	url("../fonts/Lato-Italic.svg") format("svg"),
	url("../fonts/Lato-Italic.eot") format("embedded-opentype"),
	url("../fonts/Lato-Italic.woff2") format("woff2"),
	url("../fonts/Lato-Italic.woff") format("woff");
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-Light.eot"),
	url("../fonts/Lato-Light.ttf") format("truetype"),
	url("../fonts/Lato-Light.svg") format("svg"),
	url("../fonts/Lato-Light.eot") format("embedded-opentype"),
	url("../fonts/Lato-Light.woff2") format("woff2"),
	url("../fonts/Lato-Light.woff") format("woff");
}
@font-face {
	font-family: 'Lato Lightitalic';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-LightItalic.eot"),
	url("../fonts/Lato-LightItalic.ttf") format("truetype"),
	url("../fonts/Lato-LightItalic.svg") format("svg"),
	url("../fonts/Lato-LightItalic.eot") format("embedded-opentype"),
	url("../fonts/Lato-LightItalic.woff2") format("woff2"),
	url("../fonts/Lato-LightItalic.woff") format("woff");
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-Regular.eot"),
	url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg") format("svg"),
	url("../fonts/Lato-Regular.eot") format("embedded-opentype"),
	url("../fonts/Lato-Regular.woff2") format("woff2"),
	url("../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-Thin.eot"),
	url("../fonts/Lato-Thin.ttf") format("truetype"),
	url("../fonts/Lato-Thin.svg") format("svg"),
	url("../fonts/Lato-Thin.eot") format("embedded-opentype"),
	url("../fonts/Lato-Thin.woff2") format("woff2"),
	url("../fonts/Lato-Thin.woff") format("woff");
}
@font-face {
	font-family: 'Lato Thinitalic';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: local(''),
	url("../fonts/Lato-ThinItalic.eot"),
	url("../fonts/Lato-ThinItalic.ttf") format("truetype"),
	url("../fonts/Lato-ThinItalic.svg") format("svg"),
	url("../fonts/Lato-ThinItalic.eot") format("embedded-opentype"),
	url("../fonts/Lato-ThinItalic.woff2") format("woff2"),
	url("../fonts/Lato-ThinItalic.woff") format("woff");
}
